<footer id="Footer" class="Footer">

  <article class="Footer-parteners">
    {{ footer.partnerslist}}
  </article>

  <article class="Footer-menuFooter">
    {{ footer.footer_menu }}
  </article>

{#  <section class="Footer-mobile">#}
{#    <article class="Footer-parteners">#}
{#      {{ footer.partnerslist}}#}
{#    </article>#}

{#    <article class="Footer-menuFooter">#}
{#      {{ footer.footer_menu }}#}
{#    </article>#}
{#  </section>#}

</footer>
